<!DOCTYPE HTML>
<html lang="en">
<head>
    <!--=============== basic  ===============-->
    <jcms:site:fevicon/>
    <jcms:site:seotitle/>

    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--=============== css  ===============-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/color.css">
    <!--=============== favicons ===============-->

</head>
<body>
<!--loader-->
<div class="loader-wrap">
    <div class="pin">
        <div class="pulse"></div>
    </div>
</div>
<!--loader end-->
<!-- Main  -->
<div id="main">
    <!-- header-->
    <header class="main-header">
        <!-- header-top-->
        <div class="header-top fl-wrap">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div class="logo-holder">
                        <jcms:module:logo/>
                        <!--  <a href="index.html"><img src="images/logo.png" alt=""></a> -->
                    </div>
                    <div class="greeting">
                        <a href="<jcms:site:base_url/>listproperty" class="btn btn-outline-light btn-sm">List your property</a>
                        <jcms:module:subscribers:login-welcome/>
                    </div>
                </div>
                <div class="nav-holder main-menu">
                    <nav>
                        <jcms:module:menu/>
                    </nav>
                </div>
            </div>
        </div>
        <!-- header-top end-->

    </header>
    <!--  header end -->
    <!--  wrapper  -->
    <div id="wrapper">
        <!-- content-->
        <div class="content">
            <jcms:module:destinationbread/>
            <jcms:module:destinationlist/>


        </div>
        <!-- content end-->
    </div>
    <!--wrapper end -->
    <!--footer -->
    <footer class="main-footer">
        <!--footer-inner-->
        <div class="footer-inner">
            <div class="container">
                <!--footer-fw-widget-->

                <!--footer-fw-widget end-->
                <div class="row">

                    <div class="col-md-12">

                        <p>
                            <jcms:module:footerBrief/>
                        </p>
                        <br><br><br>
                    </div>
                    <!--footer-widget -->
                    <div class="col-md-4">
                        <div class="footer-widget fl-wrap">

                            <div class="footer-contacts-widget fl-wrap">
                                <jcms:module:footer-contactinfo/>

                            </div>
                        </div>
                    </div>

                    <jcms:module:socialbottom/>

                    <div class="col-md-4">

                        <jcms:module:customersupport/>

                    </div>
                    <!--footer-widget end-->

                </div>
                <div class="clearfix"></div>

            </div>
        </div>
        <!--footer-inner end -->
        <div class="footer-bg">
        </div>
        <!--sub-footer-->
        <div class="sub-footer">
            <div class="container">

                <div class="copyright">
                    <jcms:site:copyright/>
                </div>

                <div class="subfooter-nav">
                    <jcms:module:footer-menu/>

                </div>
            </div>
        </div>
        <!--sub-footer end -->
    </footer>

    <!--footer end -->
    <!--register form -->
    <jcms:module:subscribers:login-register-form/>
    <!--register form end -->
    <a class="to-top"><i class="fas fa-caret-up"></i></a>
</div>
<!-- Main end -->
<!--=============== scripts  ===============-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOURAPIKEYHERE&libraries=places&callback=initAutocomplete"></script>
</body>
</html>