<!DOCTYPE HTML>
<html lang="en">
<head>
    <!--=============== basic  ===============-->
    <!-- <meta charset="UTF-8">
    <title>Gundri Booking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/> -->
    <jcms:site:fevicon/>
    <jcms:site:seotitle/>


    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--=============== css  ===============-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/color.css">
    <!--=============== favicons ===============-->
    <!--  <link rel="shortcut icon" href="images/favicon.ico"> -->
</head>
<body>
<!--loader-->
<div class="loader-wrap">
    <div class="pin">
        <div class="pulse"></div>
    </div>
</div>
<!--loader end-->
<!-- Main  -->
<div id="main">
    <!-- header-->
    <header class="main-header">
        <!-- header-top-->
        <div class="header-top fl-wrap">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div class="logo-holder">
                        <jcms:module:logo/>
                        <!--  <a href="index.html"><img src="images/logo.png" alt=""></a> -->
                    </div>
                    <div class="greeting">
                        <a href="<jcms:site:base_url/>listproperty" class="btn btn-outline-light btn-sm d-inline-block">List your property</a>
                        <jcms:module:subscribers:login-welcome/>
                    </div>
                </div>
                <div class="nav-holder main-menu">
                    <nav>
                        <jcms:module:menu/>
                    </nav>
                </div>
                <!-- <a href="dashboard-add-#" class="add-hotel">Add Your Hotel <span><i class="far fa-plus"></i></span></a>
                <div class="show-reg-form modal-open"><i class="fa fa-sign-in"></i>Sign In</div> -->
                <!-- <div class="lang-wrap">
                    <div class="show-lang"><img src="images/lan/1.png" alt=""> <span>Eng</span><i class="fa fa-caret-down"></i></div>
                    <ul class="lang-tooltip green-bg">
                        <li><a href="#"><img src="images/lan/4.png" alt=""> De</a></li>
                        <li><a href="#"><img src="images/lan/5.png" alt=""> It</a></li>
                        <li><a href="#"><img src="images/lan/2.png" alt=""> Fr</a></li>
                        <li><a href="#"><img src="images/lan/3.png" alt=""> Es</a></li>
                    </ul>
                </div> -->
                <!-- <div class="currency-wrap">
                    <div class="show-currency-tooltip"><i class="fas fa-dollar-sign"></i> <span>USD <i class="fa fa-caret-down"></i> </span></div>
                    <ul class="currency-tooltip">
                        <li><a href="#"><i class="far fa-euro-sign"></i> EUR</a></li>
                        <li><a href="#"><i class="far fa-pound-sign"></i> GBP</a></li>
                        <li><a href="#"><i class="far fa-ruble-sign"></i>RUR</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
        <!-- header-top end-->
    </header>
    <!--  header end -->
    <!--  wrapper  -->
    <div id="wrapper">
        <!-- content-->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 mx-auto">
                        <div class="bookiing-form-wrap">

                            <div class="list-single-main-item fl-wrap hidden-section tr-sec">
                                <div class="profile-edit-container">
                                    <div class="custom-form">
                                        <jcms:module:subscribers:password-resetform/>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content end-->
    </div>
    <!--wrapper end -->
    <!--footer -->
    <footer class="main-footer">
        <!--footer-inner-->
        <div class="footer-inner">
            <div class="container">
                <!--footer-fw-widget-->

                <!--footer-fw-widget end-->
                <div class="row">

                    <div class="col-md-12">
                        <!-- <p> Whoever you are, whatever you're looking for, we have the perfect place for you. Our 8,424 listings include 6,535 listings of homes, apartments, and other unique places to stay, and are located in 3,889 destinations. Gundri Booking is based in Nepal, is supported internationally  in 14 countries.</p> -->
                        <p>
                            <jcms:module:footerBrief/>
                        </p>
                        <br><br><br>
                    </div>
                    <!--footer-widget -->
                    <div class="col-md-4">
                        <div class="footer-widget fl-wrap">

                            <div class="footer-contacts-widget fl-wrap">
                                <jcms:module:footer-contactinfo/>
                                <!--   <ul  class="footer-contacts fl-wrap">
                                      <li><span><i class="fal fa-envelope"></i> Mail :</span><a href="#" target="_blank">info@gundri.com</a></li>
                                      <li> <span><i class="fal fa-map-marker-alt"></i> Adress :</span><a href="#" target="_blank">Hattisaar, kathmandu, Nepal</a></li>
                                      <li><span><i class="fal fa-phone"></i> Phone :</span><a href="#">+977 9801055718</a></li>
                                  </ul> -->

                            </div>
                        </div>
                    </div>
                    <!--footer-widget end-->
                    <!--footer-widget -->
                    <!-- <div class="col-md-4">
                        <div class="footer-widget fl-wrap">
                            <div class="footer-social">
                                <span>Find us : </span> -->
                    <jcms:module:socialbottom/>
                    <!--  <ul>
                         <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                         <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                         <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                     </ul> -->
                    <!-- </div>
                    <a class="contact-btn color-bg" href="#">Get In Touch<i class="fal fa-envelope"></i></a>
                </div>
            </div> -->
                    <!--footer-widget end-->
                    <!--footer-widget -->
                    <div class="col-md-4">
                        <!--   <div class="customer-support-widget fl-wrap">
                              <h4>Customer support : </h4>
                              <a href="tel:+9779801055718" class="cs-mumber">+977 9801055718</a>
                              <a href="tel:+9779801055718" class="cs-mumber-button color2-bg">Call Now <i class="far fa-phone-volume"></i></a>
                          </div> -->
                        <jcms:module:customersupport/>

                    </div>
                    <!--footer-widget end-->

                </div>
                <div class="clearfix"></div>

            </div>
        </div>
        <!--footer-inner end -->
        <div class="footer-bg">
        </div>
        <!--sub-footer-->
        <div class="sub-footer">
            <div class="container">
                <!--   <div class="copyright"> &#169; Gundri Booking 2021 .  All rights reserved.</div> -->
                <div class="copyright">
                    <jcms:site:copyright/>
                </div>

                <div class="subfooter-nav">
                    <jcms:module:footer-menu/>
                    <!-- <ul>
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
        <!--sub-footer end -->
    </footer>
    <!--footer end -->
    <a class="to-top"><i class="fas fa-caret-up"></i></a>
</div>
<!-- Main end -->

<!--register form -->
<jcms:module:subscribers:login-register-form/>
<!--register form end -->

<!--=============== scripts  ===============-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=YOURAPIKEYHERE&libraries=places&callback=initAutocomplete"></script>
<script type="text/javascript" src="js/map-single.js"></script>-->

<script>
    var base_url = jQuery('base').attr('url');

    $(document).ready(function () {
        $("#resetPasswordForm").validate({
            errorElement: 'p',
            errorClass: 'text-danger',
            rules: {
                password: {required: !0},
                confirm_password: {
                    required: !0,
                    equalTo: "#password"
                }
            },
            messages: {
                password: {required: "Enter your New Password"},
                confirm_password: {
                    required: "Enter your new password confirmation",
                    equalTo: "Password Mismatch !"
                }
            },
            submitHandler: function (form) {
                if (form) {
                    var Frmval = $("#resetPasswordForm").serialize();
                    $("button#submit").attr("disabled", "true").text('Processing...');
                    $.ajax({
                        type: "POST",
                        dataType: "JSON",
                        url: base_url + "includes/controllers/ajax.user.php",
                        data: "action=resetuserpassword&" + Frmval,
                        success: function (data) {
                            var msg = eval(data);
                            $("button#submit").removeAttr("disabled").text('Submit');
                            if (msg.action == 'success') {
                                $('div#msg').html(msg.message).css('display', 'block').fadeOut(8000);
                                $("form#resetPasswordForm")[0].reset();
                                setTimeout(function () {
                                    window.location.href = "";
                                }, 5000);
                            }
                            if (msg.action == 'unsuccess') {
                                $('div#msg').html(msg.message).css('display', 'block').fadeOut(8000);
                            }
                        }
                    });
                    return !1;
                }
            }
        })
    });
</script>
</body>
</html>