<!DOCTYPE html>
<html lang="en-us">
  <head>
    <jcms:site:fevicon/>
    <jcms:site:seotitle/>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <!--Default CSS-->
    <link rel="stylesheet" href="css/default.css" type="text/css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!--Plugin CSS-->
    <link rel="stylesheet" href="css/plugin.css" type="text/css">
    <link rel="stylesheet" href="css/app.css" type="text/css">
    <script>
      var dataLayer = {
        "site_id": "Mobile App Site",
        "env_gdpr": "true",
        "env_ccpa": "true",
        "env_marketing": "true"
      };
    </script>
  </head>
  <body class="en-us">
    <div class="page-container">
      <!-- OPEN DROPDOWN PAGE DIMMER [START] -->
      <div class="page-backdrop"></div>
      <!-- OPEN DROPDOWN PAGE DIMMER [END] -->
      <header class="global-header universal-header " id="menu_content">
        <jcms:module:header/>
      </header>
      <main class="content-wrapper" id="app" role="main">
        <section class="section-1 hero pinned-img sec-h">
          <div class="filter"></div>
          <div class="container">
            <div class="flex-grid">
              <div class="module-1">
                <div class="wrap">
                  <h2 class="heading">The world in the palm of your hand</h2>
                </div>
              </div>
              <div class="module-2 d-none d-md-inline">
                <div class="fixed-img">
                  <script>
                    const localesSupportingVideo = ["en-us"];
                  </script>
                  <video autoplay loop muted class="screen vid width-0">
                    <source src="images/en-us/phone-1.html" type="video/mp4"> Sorry, your browser doesn't support embedded videos.
                  </video>
                  <img src="images/phone-frame.png" class="frame" alt="">
                  <img src="images/en-us/phone-1.png" class="screen img" alt="">
                </div>
              </div>
              <div class="module-3">
                <div class="wrap">
                  <p class="subheading">Unlock extraordinary experiences with the Siddhartha Hospitality App. Download&nbsp;now. </p>
                  <div class="download-btns mt-3 mt-md-6">
                    <a href="#" role="button" class="apple" target="_blank">
                      <img src="images/en-us/icon-apple.png" alt="Download the Marriott Bonvoy App in the Apple App store">
                    </a>
                    <a href="#" role="button" class="google" target="_blank">
                      <img src="images/en-us/icon-google.png" alt="Download the Marriott Bonvoy App in the Google Play store">
                    </a>
                  </div>
                </div>
              </div>
              <div class="phone-hero_m d-md-none">
                <img src="images/en-us/phone-1.png" alt="">
              </div>
            </div>
          </div>
          <div class="scroll-wrap">
            <div class="container">
              <div class="scroll">
                <div class="line"></div>
                <p class="text">Scroll</p>
              </div>
            </div>
          </div>
        </section>
        <div id="features"></div>
        <section class="section-2 pinned-img animated-images sec-h" dir="ltr">
          <div class="devices d-none d-md-flex">
            <div class="device-wrap-1">
              <img src="images/en-us/device-1.png" class="dv-1" alt="">
            </div>
            <div class="device-wrap-2">
              <img src="images/en-us/device-2.png" class="dv-2" alt="">
            </div>
            <div class="spacer"></div>
            <div class="device-wrap-3">
              <img src="images/en-us/device-3.png" class="dv-3" alt="">
              <img src="images/device-4.png" class="dv-4" alt="">
            </div>
            <div class="device-wrap-4">
              <img src="images/en-us/device-5.png" class="dv-5" alt="">
            </div>
          </div>
          <div class="devices-mob d-md-none">
            <img src="images/en-us/phone-2.png" class="dv-1" alt="">
            <div class="group d-none d-sm-flex">
              <img src="images/en-us/device-2.png" class="dv-2" alt="">
              <img src="images/en-us/device-3.png" class="dv-3" alt="">
            </div>
            <div class="group d-sm-none">
              <img src="images/en-us/device-1_m.png" class="dv-2" alt="">
              <img src="images/en-us/device-2_m.png" class="dv-3" alt="">
            </div>
            <img src="images/device-4.png" class="dv-4 d-none d-sm-flex" alt="">
            <img src="images/device-3_m.png" class="dv-4 d-sm-none" alt="">
          </div>
        </section>
        <div class="mob-spacer d-md-none mt-6"></div>
        <section class="section-3 pinned-img animated-text-1 sec-h">
          <div class="pagination-wrap">
            <div class="container">
              <div class="pagination" dir="ltr">
                <span class="num bold">1</span>&nbsp;/&nbsp; <span class="den">8</span>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="flex-grid">
              <div>
                <div class="module-1">
                  <div class="wrap">
                    <h2 class="heading">Ready when <span class="no-wrap">you are</span>
                    </h2>
                    <p class="subheading mt-2 mt-md-3">Easily check in from anywhere with Mobile&nbsp;Check-In.</p>
                  </div>
                </div>
                <div class="module-2">
                  <img src="images/en-us/phone-3.png" alt="">
                </div>
                <div class="module-3">
                  <div class="wrap">
                    <p class="subheading-2 pb-3">Check in up to two days before your stay. Just let us know when you’re arriving, and we’ll send you a notification when your room is ready so you can get there&nbsp;faster.</p>
                    <ul class="list-separated">
                      <li>Quickly get info about hotel amenities, local dining options, transportation, and nearby attractions</li>
                      <li>You can opt in for Mobile Key when you use Mobile Check-In</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="marker hide"></div>
        <section class="section-4 pinned-img animated-text-2 sec-h">
          <div class="pagination-wrap mobile">
            <div class="container">
              <div class="pagination" dir="ltr">
                <span class="num bold">2</span>&nbsp;/&nbsp; <span class="den">8</span>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="flex-grid">
              <div>
                <div class="module-1">
                  <div class="wrap">
                    <h2 class="heading">Go right in</h2>
                    <p class="subheading mt-2 mt-md-3">Open your room, parking garage, fitness center, pool, and more with Mobile&nbsp;Key.</p>
                  </div>
                </div>
                <div class="module-2">
                  <img src="images/en-us/phone-4.png" alt="">
                </div>
                <div class="module-3">
                  <div class="wrap">
                    <p class="subheading-2 pb-3">Never worry about keeping track of a key card again. Mobile Key, delivered right to your phone, gives you instant access to your guest room and other areas around the hotel.</p>
                    <ul class="list-separated">
                      <li>We’ll send you an alert when your Mobile Key is activated and your room is ready</li>
                      <li>Opt in for Mobile Key during Mobile Check-In or anytime during your stay</li>
                      <li>Works with iPhone, Android, and Apple Watch</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--<section class="section-5 pinned-img animated-text-3 sec-h">
          <div class="pagination-wrap mobile">
            <div class="container">
              <div class="pagination" dir="ltr">
                <span class="num bold">3</span>&nbsp;/&nbsp; <span class="den">8</span>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="flex-grid">
              <div>
                <div class="module-1">
                  <div class="wrap">
                    <h2 class="heading">Know everything instantly</h2>
                    <p class="subheading mt-2 mt-md-3">Your entire Marriott&nbsp;Bonvoy account right at your fingertips.</p>
                  </div>
                </div>
                <div class="module-2">
                  <img src="images/en-us/phone-5.png" alt="">
                </div>
                <div class="module-3">
                  <div class="wrap">
                    <p class="subheading-2 pb-3">Manage your Marriott&nbsp;Bonvoy account, check points balances, view stay history, keep track of benefits, redeem points, and more.</p>
                    <ul class="list-separated">
                      <li>View and edit your profile, earning preferences, and email subscriptions</li>
                      <li>Earn and redeem points at participating hotel restaurants</li>
                      <li>Elite members enjoy one-click access to global customer support</li>
                      <li>Platinum Elite members get an in-app confirmation for Priority Late Checkout requests</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-6 pinned-img animated-text-4 sec-h">
          <div class="pagination-wrap mobile">
            <div class="container">
              <div class="pagination" dir="ltr">
                <span class="num bold">4</span>&nbsp;/&nbsp; <span class="den">8</span>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="flex-grid">
              <div>
                <div class="module-1">
                  <div class="wrap">
                    <h2 class="heading">Get answers</h2>
                    <p class="subheading mt-2 mt-md-3">Mobile Chat lets you text your hotel before, during, or even after your stay.</p>
                  </div>
                </div>
                <div class="module-2">
                  <img src="images/en-us/phone-6.png" alt="">
                </div>
                <div class="module-3">
                  <div class="wrap">
                    <p class="subheading-2 pb-3">Need info? Chat directly with your hotel to ask about hotel features, make special requests, receive local recommendations, and more.</p>
                    <ul class="list-separated">
                      <li>Get answers about topics such as fitness center equipment, conference room locations, and local hot spots</li>
                      <li>Use Mobile Chat during your stay and for two days before and after</li>
                      <li>Use Mobile Chat if you need special services or specific amenities</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-7 pinned-img animated-text-5 sec-h">
          <div class="pagination-wrap mobile">
            <div class="container">
              <div class="pagination" dir="ltr">
                <span class="num bold">5</span>&nbsp;/&nbsp; <span class="den">8</span>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="flex-grid">
              <div>
                <div class="module-1">
                  <div class="wrap">
                    <h2 class="heading">Where to next?</h2>
                    <p class="subheading mt-2 mt-md-3">Search and book more than 8,000 hotels and 30 brands.</p>
                  </div>
                </div>
                <div class="module-2">
                  <img src="images/en-us/phone-7.png" alt="">
                </div>
                <div class="module-3">
                  <div class="wrap">
                    <p class="subheading-2 pb-3">With more than 8,000 hotels across 30 brands in 130+ countries and territories, the possibilities are limitless. Earn points throughout your journey, then use those points to book your next stay.</p>
                    <ul class="list-separated">
                      <li>Browse hotel photos, maps, city guides, and amenities</li>
                      <li>Manage reservations, share details, and add trips to your calendar</li>
                      <li>Save your favorite hotels and room preferences for easier future bookings</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
         <section class="section-8 pinned-img animated-text-6 sec-h">
          <div class="pagination-wrap mobile">
            <div class="container">
              <div class="pagination" dir="ltr">
                <span class="num bold">6</span>&nbsp;/&nbsp; <span class="den">8</span>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="flex-grid">
              <div>
                <div class="module-1">
                  <div class="wrap">
                    <h2 class="heading">We’ve got you</h2>
                    <p class="subheading mt-2 mt-md-3">Make your stay your own with Mobile Requests.</p>
                  </div>
                </div>
                <div class="module-2">
                  <img src="images/en-us/phone-8.png" alt="">
                </div>
                <div class="module-3">
                  <div class="wrap">
                    <p class="subheading-2 pb-3">Need something? Mobile Requests gives you a list of amenities to choose from to customize your stay or to ask for something you forgot, like a comb, razor, or toothpaste.</p>
                    <ul class="list-separated">
                      <li>Customize your room with extra blankets or pillows</li>
                      <li>Request services like housekeeping and luggage assistance</li>
                      <li>Available amenities vary by hotel</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-9 pinned-img animated-text-7 sec-h">
          <div class="pagination-wrap mobile">
            <div class="container">
              <div class="pagination" dir="ltr">
                <span class="num bold">7</span>&nbsp;/&nbsp; <span class="den">8</span>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="flex-grid">
              <div>
                <div class="module-1">
                  <div class="wrap">
                    <h2 class="heading">Get it to go</h2>
                    <p class="subheading mt-2 mt-md-3">Browse your hotel menu and order food and drinks with Mobile Dining.</p>
                  </div>
                </div>
                <div class="module-2">
                  <img src="images/en-us/phone-9.png" alt="">
                </div>
                <div class="module-3">
                  <div class="wrap">
                    <p class="subheading-2 pb-3">Want to order ahead while you’re out exploring? Browse and order from your hotel’s menu on your phone and on your schedule — your food will be ready when you return.</p>
                    <ul class="list-separated">
                      <li>Choose the time and place you want your order delivered — poolside, conference room, lobby — anywhere on property</li>
                      <li>Available at participating properties</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-10 pinned-img animated-text-8 sec-h">
          <div class="pagination-wrap mobile">
            <div class="container">
              <div class="pagination" dir="ltr">
                <span class="num bold">8</span>&nbsp;/&nbsp; <span class="den">8</span>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="flex-grid">
              <div>
                <div class="module-1">
                  <div class="wrap">
                    <h2 class="heading">Always be on time</h2>
                    <p class="subheading mt-2 mt-md-3">See the location of your hotel shuttle in real time with Shuttle Tracker.</p>
                  </div>
                </div>
                <div class="module-2">
                  <img src="images/en-us/phone-10.png" alt="">
                </div>
                <div class="module-3">
                  <div class="wrap">
                    <p class="subheading-2 pb-3">Live maps and estimated wait times allow you to get to and from your hotel with ease, and eliminate the worry about missing your ride.</p>
                    <ul class="list-separated">
                      <li>Get a notification when you land and start tracking your shuttle immediately</li>
                      <li>See estimated wait times and pickup and drop-off locations</li>
                      <li>Available at participating airport hotels</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section> -->
        <div id="download"></div>
        <section class="section-11 download pinned-img sec-h mt-3" dir="ltr">
          <div class="container">
            <div class="flex-grid">
              <div>
                <div class="module-1">
                  <h2 class="heading">On your <br class="d-none d-md-inline">favorite <br class="d-none d-md-inline">screen </h2>
                  <p class="subheading mt-2">Available for iOS, WatchOS, and Android, the Siddhartha Hospitality App fits in perfectly with the way you like to&nbsp;travel.</p>
                  <div class="phone-mob">
                    <img src="images/en-us/phone-11.png" alt="">
                  </div>
                  <div class="wrap">
                    <div class="download-btns mt-6">
                      <a href="" role="button" class="apple" target="_blank">
                        <img src="images/en-us/icon-apple.png" alt="Download the Marriott Bonvoy App in the Apple App store">
                      </a>
                      <a href="" role="button" class="google" target="_blank">
                        <img src="images/en-us/icon-google.png" alt="Download the Marriott Bonvoy App in the Google Play store">
                      </a>
                    </div>
                  </div>
                  <p class="disclaimer fz-xxs mt-3 mb-1">The version shown is for iOS. <br>Enjoy the same features on Android. </p>
                </div>
                <div class="module-2"></div>
                <div class="module-3"></div>
              </div>
            </div>
          </div>
          <div class="img-wrap">
            <img src="images/en-us/device-6.png" class="dv-1" alt="">
            <img src="images/device-4.png" class="dv-2" alt="">
          </div>
        </section>
        <div id="faqs"></div>
        
        <div class="load-filter"></div>
      </main>


  <!-- logos Starts -->
      <jcms:module:footer-booking/>
      <!-- Footer Ends -->
      <!-- Back to top start -->
      <div id="back-to-top">
        <a href="#"></a>
      </div>
      <!-- Back to top ends -->
    </div>
    <script>
      const locale = "en-us";
    </script>
    <script src="js/app.js"></script>
    <!-- *Scripts* -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugin.js"></script>
    <script src="js/main.js"></script>
    <script src="js/custom-nav.js"></script>
    <script src="js/custom-swiper2.js"></script>
    <script src="js/custom-singledate.js"></script>
    <script>
      $(function() {
        $('.hotelmenu').on('click', function() {
          $('.hotel_menu').toggleClass("menu_active");
        })
      })
    </script>
  </body>
</html>